{{#each songs}}
  <div class="songInfo">
    <h2>{{ name }} ({{ year }})</h2>
    <h4> Performed by {{ artist }}</h4>
    <h4> On the album {{ album }}</h4>
    <button class="destroy btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</button>
  </div>
{{/each}}
