{{#each songs}}
  <div class="songInfo">
    <h2>{{ name }}</h2>
    <h4>{{ artist }}</h4>
    <h4>{{ album }}</h4>
    <h6>{{ year }}</h6>
    <button class="destroy"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
{{/each}}
